name: Validate

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  main:
    name: Validate PR content
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@4aaadf42668403795cdfdb15b1c4250e9fed12b9
        with:
          go-version: '1.25'

      - name: Install tools
        run: make install-tools

      - name: Run tests
        run: make test

      - name: Check linting
        run: make lint

      - name: Check import order
        run: make check-imports

      - name: Run and validate
        run: go run  cmd/main.go --debug --config ./test/config_debug.yml