name: Validate

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@faf52423ec0d44c58f68e83b614bfcd99dded66f
        with:
          go-version: '1.24'

      - name: Run tests
        run: make test
